.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text-side {
    flex: 1;
    flex-direction: column;
    width: 20%;
    margin: 100px;
    align-items: center;
    flex-wrap: wrap;

}

.text-side h1 {
    padding-bottom: 20px;
    margin: 0;
    font-size: 5.5em;
}

.text-side p {
    font-size: 1.5em;
    margin: 0;
}

.image-side {
    flex: 1;
    padding: 50px;


}